/* body{
    margin: 30px;
}

.toonland {
    float: right;
} */
.toonland{
    margin-top: -300px;
    float: right;
    max-width: 600px;
    padding: 100px;
}
.mentoons{
    float: left;
    max-width: 700px;
    padding-left: 100px;
    margin-bottom: -30px;
}
.num{
    width: 500px;
    height: 200px;
}
img{
    width: 400px;
}