/* [class*="col-"]{
  width: 100%;
} */
@media only screen and (min-width:200px){
  .music{ width: 60%;}
  p{font-size: 20%;
  }
  .banner img{
    width: 50%;
  }
  .banner p{
    font-size: 30%;
  }
  .banner{
    margin: auto;
    float: center;
  }
  #header{
    margin: auto;
  }
}
.banner p{
  /* font-size: 50px; */
}
/* @media (min-width:768px) {
  font-size: 18px;
}
@media (min-width:1024px) {
  font-size: 19px;
}
@media (min-width:1280px) {
  font-size: 20px;
} */

@media only screen and (min-width:600px){
/* for tablets */
  .body .guitar{
    max-width: 500px;
  }
  .banner{
    height: 90%;
  } 
  .banner img{
    width: 50%;
    margin-top: 80px;
  }
  .text_banner{
    width: 35%;
  }
  .text_banner p{
    font-size: 10px;
  }
  .body .img1 img{
    width: 80%;
  }
  .body .img1 p{
    max-width: 40%;
  }
  .body img{
    width: 70%;
  }
  .body .img2 img{
    width: 40%;
  }
  /* .body .img2 p{
    font-size: 30px;
    max-width: 200px;
  } */
  .banner {
    /* width: 100%; */
  }

}
/* .banner img{
  width:600px;
} */
@media only screen and (min-width:768px)
/* for desktop */
{
  .music{width: 60%;}
  /* p{
    color: rgb(61, 99, 99);
    max-width: 300px;
    font-size: 30px;
    margin: 10px;
  }
  .banner_img{
    width: 80%;
  }
  .banner p{
    font-size: large;
  } */
  .banner img{
    width: 50%;
  }
}


body{
  margin: 0;
}
#header{
  min-height:calc(80vh);
  background: linear-gradient(rgba(197, 151, 151, 0.603),rgba(120, 195, 201, 0.575));
  /* background: linear-gradient(rgba(197, 151, 151, 0.603),rgba(120, 195, 201, 0.575)),url(../images/Untitled_Artwork\ 9.png); */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  margin-top: -15px;
}
/* **********logo********************************************************** */
.logo{
  position: fixed;
}
.logo img{
  width: 40px; 
  margin-left: 10px;
  margin-top: 0px;
  transition: 0.5s;
}
.logo img:hover{
  width:150px;

}
/************** text ***********************************************/
.text_banner{
  max-width: 500px;
  /* position: absolute; */
  /* font-size: 50px; */
  /* font-size: calc(15px + 0.390625vw); */
  text-align:right;
  /* position: relative; */
  /* float: none;
  display: block; */
  margin-top: 50px;
  float: right;
  margin: 20px;
  /* margin:auto; */
  color: rgb(61, 99, 99);
}
.text_banner p{
  /* font-size: calc(50px + 0.390625vw); */
  font-size: 5vw;
}

/* .banner h1{
  border-top: 6px dotted #c9c1ac;
  border-bottom: 6px dotted #c9c1ac;
  animation: fromLeft;
  animation-duration: 4s;
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
} */
/* *********navbar */


.arrow{
  float:right;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-50% , -50%);
}
.arrow span{
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid rgb(92, 91, 91);
  border-right: 5px solid rgb(92, 91, 91);
  transform: rotate(45deg);
  margin: -10px;
  margin-left: 20px;
  animation: scroll 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -.2s;
}
.arrow span:nth-child(3){
  animation-delay: -.4s;
}
@keyframes scroll {
  0%{
      opacity: 1;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
  }
}
/* *************body ***************************/
body{
  /* background-color: rgb(248, 199, 134); */
}

/* *****************images ***********************************/
p{
  color: rgb(61, 99, 99);
  /* font-size: calc(50px + 0.390625vw); */
  /* font-size: 50px; */
  font-size: 5vw;
  margin: 10px;
}
img{
  border-radius: 40px;
  margin: 10px;
}
.body{
  background-color: antiquewhite;
  padding: 6%;
}
.img1{
  display: inline;
  display: block;
  overflow: hidden;
  background-color: antiquewhite;
}
.img1-scrolled{
  position: fixed;
}
.img2{
  display: inline;
  display: block;
  overflow: hidden;
  background-color: antiquewhite;
}.img3{
  display: inline;
  display: block;
  overflow: hidden;
  background-color: antiquewhite;
}.img4{
  display: inline;
  display: block;
  overflow: hidden;
  background-color: antiquewhite;
}
.img5{
  display: inline;
  display: block;
  overflow: hidden;
  background-color: antiquewhite;
}
.img1 img{
  float: right;
  max-width: 600px;
}
.img1 p{
  float: center;
  text-align:center;
  display: block;
  margin-top: 50px;
  float: left;
  margin: 10px;
  margin-top: 50px;
  max-width: 500px;
}
.img2 img{
  float: left;
  max-width: 350px;
  /* max-height: 1000px; */
  margin: 10px;

}
.img2 p{
  float: center;
  text-align:center;
  display: block;
  margin-top: 50px;
  float: right;
  margin: 20px;
  margin-top: 80px;
  max-width: 500px;
}
.img3 img{
  float: right;
  display: block;
  max-width: 500px;

}
.img3 p{
  float: left;
  display: block;
  text-align:center;
  /* margin-bottom: 50px; */
  margin: 10px;
  bottom: 0;
  max-width: 500px;
}
.img4 img{
  float: left;
  max-width: 400px;

}
.img4 p{
  float: right;
  text-align:center;
  display: block;
  margin-top: 50px;
  float: right;
  margin: 10px;
  max-width: 500px;
}
.img5 img{
  float: right;
  max-width: 500px;

}
.img5 p{
  float: left;
  text-align:center;
  display: block;
  margin-top: 50px;
  float: left;
  margin: 10px;
  max-width: 500px;
}
/*  */
#check{
  display: none;
}
.content{
  display: none;
  transition: 0.5s linear;
}
label{
  position: absolute;
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;

}
.label{
  margin: auto;
  text-align: center;
  align-items: center;
  border: 2px solid red;
  max-width: 200px;
  max-height: 100px;
  background-color: blue;
}
#check:checked ~ .content{
  display: block;
}
#check:checked ~ label{
  visibility: hidden;

}
#check:checked ~ label:after{
  content: 'Show Less';
  display: block;
  visibility: visible;
}





/****************** brand section*****************************/
/* #section-title{
	font-size: 30px;
	font-style: italic;
    font-family: 'Lato', sans-serif;
	
}

#brand-section{
	background-color:white;
	padding:70px 15px 30px;
	
}

.container{
	max-width: 1170px;
	margin:auto;
}

.row{
	flex-wrap: auto;
} */

/* #brand-section{
    margin-bottom: 0rem;
}

#brand-section .section-title{
	flex-basis: 100%;
	max-width: 100%;
	margin-bottom: 0rem;
	margin: auto;
  text-align: center;	
}

#brand-section .section-title h1{
	font-size: 40px;
	text-align: center;
	margin:0;
	color: #ffffff;
	font-weight: 700;
}

#brand-section .section-title p{
	font-size:16px;
	text-align: center;
	margin:15px 0 0;
	color:#ffffff;
}
#brand-section .brand-items{
	flex-basis: 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#brand-section .brand-items .item{
  flex-basis: calc(50% 10rem);
  max-width: calc(50%  50rem);
  transition: all .5s ease;
  margin-bottom: 0rem;
}
#brand-section .brand-items .item img{
	display: block;
	width: 100%;
	border-radius: 8px;
}

#brand-section .brand-items .item .inner{
	position: relative;
	z-index: 11;
	padding:0 0px;
}
#brand-section .brand-items .item .inner .info{
	background-color:#7dfcef;
	text-align: center;
	padding: 1rem 10px;
	border-radius:8px;
	transition: all .5s ease;
	margin-top: -30px;
}
#brand-section .brand-items .item:hover  .info{
    transform: translateY(-20px);
}
#brand-section .brand-items .item:hover{
 transform: translateY(-10px);	
}
#brand-section .brand-items .item .inner .info h5{
	margin:0;
	font-size: 18px;
	font-weight: 600;
	color:#ffffff;
}
#brand-section .brand-items .item .inner .info p{
	font-size: 16px;
	font-weight: 400;
	color:#c5c5c5;
	margin:10px 0 0;
} */
/**************** social media **********************************/
.social_media{
  background-color: rgb(206, 202, 202);
  min-height: 90vh;
  border-radius: 25px;
  /* max-height: 1000px; */
  display: block;
}
.social_media img{
float: right;
}

.find_me_here {
  /* position: relative; */
  /* min-height: 100vh; */
  /* display: block; */
}
.find_me_here img {
  border-radius: 0;
  position: absolute;
  width: 4rem;
  -webkit-animation-name: random;
          animation-name: random;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.find_me_here img:nth-child(1) {
  -webkit-animation: none;
          animation: none;
  position: absolute;
  left: 21%;
  top: 50%;
  margin-top: 270px;
  transform: translate(-50%, -50%);
}
.find_me_here img:nth-child(1) {
  width: 25vw;
}

.find_me_here img:nth-child(2) {
  left: 5%;
  /* top: 35%; */
  bottom: 0%;
  margin-bottom: -300px;

  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.find_me_here img:nth-child(3) {
  right: 65%;
  /* top: 0%; */
  bottom: 0%;
  margin-bottom: -300px;
}
.find_me_here img:nth-child(4) {
  left: 3%;
  /* bottom: 40%; */
  top: 0%;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.find_me_here img:nth-child(5) {
  right: 65%;
  /* bottom: 70%; */
  top: 0%;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.find_me_here img:nth-child(6) {
  left: 45%;
  /* top: 70%; */
  bottom: 0%;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.find_me_here {
  position: relative;
  margin: 6rem 0;
}
.find_me_here .handles {
  /* position: absolute;
  position: relative; */
  /* left: 20%;
  top: 0%; */
  bottom: 0px;
  transform: translate(-50%, -50%);
  width: 40vw !important;
}
.find_me_here img:nth-child(3) {
  -webkit-animation-name: random;
          animation-name: random;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.find_me_here img:nth-child(4) {
  -webkit-animation-name: random;
          animation-name: random;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.find_me_here img:nth-child(5) {
  -webkit-animation-name: random;
          animation-name: random;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.find_me_here img:nth-child(6) {
  -webkit-animation-name: random;
          animation-name: random;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes random {
  0%, 100% {
    transform: translate(50px, 12px);
  }
  50% {
    transform: translate(40px, 10px);
  }
}

@keyframes random {
  0%, 100% {
    transform: translate(50px, 12px);
  }
  50% {
    transform: translate(40px, 10px);
  }
}
/* .youtube{
  float: right;
  display: block;
} */

/* input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
} */

.contact{
  border-radius: 20px;
  /* background-color: #f2f2f2; */
  box-shadow: 0 3px 20px rgba(19, 18, 18, 0.849);
  padding: 20px;
  width: 70%;
  margin: auto;
  /* background-color: #44e2a8; */
  margin-top: -3%;
  background-image: linear-gradient(to right, rgb(10, 13, 66), rgba(7, 4, 4, 0.404),rgb(64, 64, 247));
  
  /* box-shadow: 0 0px 2.2px rgba(0, 0, 0, 0.028), 0 0px 5.3px rgba(0, 0, 0, 0.04),
  0 0px 10px rgba(0, 0, 0, 0.05), 0 0px 17.9px rgba(0, 0, 0, 0.06),
  0 0px 33.4px rgba(0, 0, 0, 0.072), 0 0px 80px rgba(0, 0, 0, 0.1); */

  /* background:linear-gradient(rgba(15, 9, 48, 0.856),#09104965 ,#040316, rgb(12, 12, 70)); */
}
.form-group{
  max-width: 800px;
  margin: 20px;
}
input{
  max-width: 800px;
}
.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group textarea:focus {
  border: 1px solid #615f5f;
}
/* h2::selection,
label::selection,
button::selection {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */
/* .contact {
  width: 90%;
  padding: 2rem;
  background: #fff;
  box-shadow: 0 0px 2.2px rgba(0, 0, 0, 0.028), 0 0px 5.3px rgba(0, 0, 0, 0.04),
    0 0px 10px rgba(0, 0, 0, 0.05), 0 0px 17.9px rgba(0, 0, 0, 0.06),
    0 0px 33.4px rgba(0, 0, 0, 0.072), 0 0px 80px rgba(0, 0, 0, 0.1);
} */
/* h2 {
  background: rgba(173, 216, 230, 0.7);
  letter-spacing: 0.1rem;
  padding: 1rem;
  cursor: default;
}
form,
input,
textarea,
button {
  font-family: inherit;
  font-size: initial;
}
.form-group label {
  display: block;
  margin: 2rem 0 0.5rem 0;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 1rem 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0;
  transition: border 0.15s;
}
.form-group input[type="text"],
.form-group input[type="email"] {
  height: 4.6rem;
}
.form-group textarea {
  resize: vertical;
}
.submit {
  font-weight: bold;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  border: none;
  background: rgba(173, 216, 230, 0.7);
  cursor: pointer;
  transition: background 0.15s;
}
i {
  margin-right: 0.5rem;
}
.submit:hover {
  background: rgba(173, 216, 230, 1);
}
.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group textarea:focus {
  border: 1px solid #222;
}
 */
@media screen and (min-width: 576px) {
  .contact {
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  .contact {
    width: 75%;
  }
}
@media screen and (min-width: 992px) {
  .contact {
    width: 65%;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    width: 55%;
  }
}



/* nav ***********************************/
/* *{
  margin: 0;
  padding: 0;
  color: #f2f5f7;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
} */
/* body{
  overflow-x: hidden;
} */
nav{
  height: 2rem;
  width: 100vw;
  /* background-color: #4d598d; */
  /* box-shadow: 0 3px 20px rgba(29, 26, 26, 0.2); */
  display: flex;
  position: fixed;
  z-index: 10;
  top: 0;
}

.dropdown{
	float:left;
	overflow:hidden;
}
.dropdown .dropbtn
{
	text-decoration:none;
	text-align:center;
	padding:18px 14px;
	/* color:aliceblue; */
	float:left;
	border:none;
	outline:none;
	/* background-color:black; */
}
.dropdown:hover .dropbtn
{
	/* background-color:brown; */
}
.nav-content
{
	
	position:absolute;
	min-width:160px;
	z-index:1;
	/* box-shadow: 0px 1px 1px 1px black; */
	margin-top:50px;
	display:none;
	
}
.nav-content a{
	display:block;
	float:none;
	/* background-color:black; */
	text-decoration:none;
	text-align:left;
	padding:14px 16px;
	
}
.dropdown:hover .nav-content
{
	display:block;
}

/*************** music ****************************************************/
.music-box{
  /* background-color: rgb(191, 126, 252);
  max-width: 90%;
  border-radius: 25px; */
  margin: auto;
}
.music-box button{
  padding: 10px;
  border-radius: 25px;
  border: none;
  margin: 20px;
}
.music{
  max-width: 500px;
}
.music-box p{
  font-size: 40px;
  width: 500px;
  float: right;
  margin-right: 100px;
  margin-top: 100px;
}
/*************** music end ****************************************************/



/* .subnav{
  float: left;
  overflow: hidden;
}
.subnav .subnavbtn{
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover , .subnaav:hover .subnavbtn{
  background: red;
}

.subnav-content{
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 100%;
  z-index: 1;
}
.subnav-content a{
  float: left;
  color:white;
  text-decoration: none;
}
.subnav-content a:hover{
  background-color: #eee;
  color: back;
}
.subnav:hover .subnav-content{
  display: block;
} */
/*Styling logo*/
/* .logo{
  padding:1vh 1vw;
  text-align: center;
}
.logo img {
  height: 5rem;
  width: 5rem;
} */

/*Styling Links*/
.nav-links{
  display: flex;
  list-style: none; 
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}
.nav-links li a{
  text-decoration: none;
  margin: 0 0.7vw;
}
.nav-links li a:hover {
  color: #8ddef5;
}
.nav-links li {
  position: relative;
}
.nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #61DAFB;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}
.nav-links li a:hover::before{
  width: 80%;
}

/*Styling Buttons*/
/* .login-button{
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  margin-left: 2vw;
  font-size: 1rem;
  cursor: pointer;

}
.login-button:hover {
  color: #131418;
  background-color: #f2f5f7;
  border:1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}
.join-button{
  color: #131418;
  background-color: #61DAFB;
  border: 1.5px solid #61DAFB;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}
.join-button:hover {
  color: #f2f5f7;
  background-color: transparent;
  border:1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
} */

/*Styling Hamburger Icon*/
.hamburger div{
  width: 30px;
  height:3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger{
  display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
  nav{
      position: fixed;
      z-index: 3;
  }
  .hamburger{
      display:block;
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
      transition: all 0.7s ease;
  }
  .nav-links{
      position: fixed;
      background: #131418;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(50px at 90% -20%);
      -webkit-clip-path: circle(50px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
  }
  .nav-links.open{
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
  }
  .nav-links li{
      opacity: 0;
  }
  .nav-links li:nth-child(1){
      transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2){
      transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3){
      transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4){
      transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5){
      transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6){
      transition: all 0.5s ease 0.9s;
      margin: 0;
  }
  .nav-links li:nth-child(7){
      transition: all 0.5s ease 1s;
      margin: 0;
  }
  li.fade{
      opacity: 1;
  }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  transition: all 0.7s ease;
  width:0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

/* scroll buttun */

.btn2top .sticky-btn {
  position: fixed;
  bottom: -96px;
  right: 60px;
  background: rgb(240, 151, 246);
  opacity: .6;
  border-radius: 50%;
  transition: all 0.9s ease;
}
.btn2top .sticky-btn img {
  width: 36px;
  height: 36px;
}
.btn2top .sticky-btn.revealed {
  bottom: 36px;
  opacity: 1;
}
.btn2top a.sticky-btn {
  font-family: sans-serif;
  padding: 9px;
  display: block;
  transition: all 0.3s ease;
  color: #fff;
  text-decoration: none;
}
.btn2top a.sticky-btn:hover {
  color: yellow;
}

/* @media screen and (max-width: 768px) {
  .btn2top .sticky-btn {
    right: 21px;
  }  
  .btn2top .sticky-btn.revealed {
    bottom: 21px;
  }
} */

/* personal branding */
/* .personal_branding p{
  font-size: x-large;
}
.cxo{
    margin-top: -300px;
    float: right;
    max-width: 600px;
    padding: 100px;
}

.porpelling_stories{
    float: left;
    max-width: 700px;
    padding-left: 100px;
    margin-bottom: -30px;
}
.num{
    width: 500px;
    height: 200px;
}
.cxo img{
    width: 400px;
}
.porpelling_stories img{
    width: 400px;
} */

/* personal branding end */
/* mentoring */
.mentoons{
  /* margin-top: -300px; */
  float: right;
  max-width: 600px;
  /* padding: 100px; */
}
.toonland{
  float: left;
  max-width: 700px;
  padding-left: 100px;
  margin-bottom: -30px;
}
.num{
  width: 500px;
  height: 200px;
  float: left;
  align-items: left;
  align-self: left;
}
.mentoons img{
  width: 400px;
}
.toonland img{
  width: 400px;
}
.mentoons p{
  /* max-height: 800px; */
  font-size: xx-large;
}
.toonland p{
  /* max-height: 800px; */
  font-size: xx-large;
}
/* ------------------------------------------------------------------------------------- */
.text_brand2 p{
  width: 500px;
  font-size: 30px;
}

/* personal branding */
.porpelling_stories{
  /* margin-top: -300px; */
  float: right;
  max-width: 600px;
  /* padding: 100px; */
}
.cxo{
  float: left;
  max-width: 700px;
  padding-left: 100px;
  margin-bottom: 30px;
}
.num{
  width: 500px;
  height: 200px;
}
.cxo img{
  width: 400px;
}
.porpelling_stories img{
  width: 400px;
  border-radius: 0px;
}
.cxo p{
  /* max-height: 800px; */
  font-size: xx-large;
}
.porpelling_stories p{
  /* max-height: 800px; */
  font-size: xx-large;
}

.brands1{
  background-color: white;
  height: 950px;
  border-radius: 40px;
  margin: 20px;
  box-shadow: 0 3px 20px rgba(19, 18, 18, 0.849);
}
.brands2{
  background-color: white;
  border-radius: 40px;
  margin: 20px;
  box-shadow: 0 3px 20px rgba(19, 18, 18, 0.849);
  height: 1050px;
}
.text__3{
  width: 800px;
}
.text__3 p{
  font-size: 30px;
}