.personal_branding{
}
.cxo{
    margin-top: -300px;
    float: right;
    max-width: 600px;
    padding: 100px;
}
.porpelling_stories{
    float: left;
    max-width: 700px;
    padding-left: 100px;
    margin-bottom: -30px;
}
.num{
    width: 500px;
    height: 200px;
}
.cxo img{
    width: 400px;
}
.porpelling_stories img{
    width: 400px;
}